@import '_variables';
@import '_mixins';
@import '_data';

@thumbnailHeight: 48px;
@cellPadding: 8px;

#view-list:checked ~ .Root .Gallery {
	display: table;
	width: 100%;

	label {
		display: table-row;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		transition: background-color @transition;

		span {
			display: table-cell;
			border-bottom: 1px solid #333;
			padding: @cellPadding;
			vertical-align: middle;
		}

		span:first-child:after {
			content: '';
			display: block;
			height: @thumbnailHeight;
			width: @thumbnailHeight;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.87);
		}


		&:hover {
			background-color: #D1C4E9;
		}
	}

	.EachPhoto({
		label[for="photo-@{index}"] {
			span:first-child:after {
				background-image: url("../photos/@{fileName}");
			}
			span:first-child + span:after {
				content: @name;
			}
			span:first-child + span + span:after {
				content: "@{width} × @{height}";
			}
			span:first-child + span + span + span:after {
				content: @fileSize;
			}
		}
	});
}
