.Button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}
.Button:focus:before {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
#no-dialog:checked ~ .Root .LightboxShade {
  background-color: transparent;
  pointer-events: none;
}
#no-dialog:checked ~ .Root .LightboxShade .Lightbox {
  opacity: 0;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}
#no-dialog:checked ~ .Root .LightboxShade > label[for=no-dialog] {
  display: none;
}
.LightboxShade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.LightboxShade > label[for=no-dialog] {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.LightboxShade .Lightbox {
  background: white;
  max-width: 80%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 16px rgba(0, 0, 0, 0.12);
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  width: -48.45360825vh;
  width: calc((80vh - 4 * 24px) / 1 + 2 * 24px);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s;
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s;
}
.LightboxShade .Lightbox .Photo {
  padding-bottom: 100%;
}
.LightboxShade .Lightbox h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
}
.LightboxShade .Lightbox h1 label {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 16px;
  cursor: pointer;
}
.LightboxShade .Lightbox .Photo {
  position: relative;
  box-sizing: content-box;
  height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: padding-bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: padding-bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.LeftArrow,
.RightArrow,
#photo-1:checked ~ .Root .Lightbox .Photo label[for="photo-2"],
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-1"],
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-3"],
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-2"],
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-4"],
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-3"],
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-5"],
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-4"],
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-6"],
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-5"],
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-7"],
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-6"],
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-8"],
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-7"],
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-9"],
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-8"],
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-10"],
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-9"],
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-11"],
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-10"],
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-12"],
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-11"],
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-13"],
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-12"],
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-14"],
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-13"],
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-15"],
#photo-15:checked ~ .Root .Lightbox .Photo label[for="photo-14"] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.54);
  color: white;
  opacity: 0;
  font-size: 48px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.LeftArrow:hover,
.RightArrow:hover,
#photo-1:checked ~ .Root .Lightbox .Photo label[for="photo-2"]:hover,
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-1"]:hover,
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-3"]:hover,
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-2"]:hover,
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-4"]:hover,
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-3"]:hover,
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-5"]:hover,
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-4"]:hover,
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-6"]:hover,
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-5"]:hover,
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-7"]:hover,
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-6"]:hover,
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-8"]:hover,
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-7"]:hover,
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-9"]:hover,
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-8"]:hover,
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-10"]:hover,
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-9"]:hover,
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-11"]:hover,
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-10"]:hover,
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-12"]:hover,
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-11"]:hover,
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-13"]:hover,
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-12"]:hover,
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-14"]:hover,
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-13"]:hover,
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-15"]:hover,
#photo-15:checked ~ .Root .Lightbox .Photo label[for="photo-14"]:hover {
  opacity: 1;
}
.LeftArrow,
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-1"],
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-2"],
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-3"],
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-4"],
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-5"],
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-6"],
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-7"],
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-8"],
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-9"],
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-10"],
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-11"],
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-12"],
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-13"],
#photo-15:checked ~ .Root .Lightbox .Photo label[for="photo-14"] {
  left: 0;
}
.LeftArrow:after,
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-1"]:after,
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-2"]:after,
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-3"]:after,
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-4"]:after,
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-5"]:after,
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-6"]:after,
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-7"]:after,
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-8"]:after,
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-9"]:after,
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-10"]:after,
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-11"]:after,
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-12"]:after,
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-13"]:after,
#photo-15:checked ~ .Root .Lightbox .Photo label[for="photo-14"]:after {
  content: 'chevron_left';
}
.RightArrow,
#photo-1:checked ~ .Root .Lightbox .Photo label[for="photo-2"],
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-3"],
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-4"],
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-5"],
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-6"],
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-7"],
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-8"],
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-9"],
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-10"],
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-11"],
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-12"],
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-13"],
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-14"],
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-15"] {
  right: 0;
}
.RightArrow:after,
#photo-1:checked ~ .Root .Lightbox .Photo label[for="photo-2"]:after,
#photo-2:checked ~ .Root .Lightbox .Photo label[for="photo-3"]:after,
#photo-3:checked ~ .Root .Lightbox .Photo label[for="photo-4"]:after,
#photo-4:checked ~ .Root .Lightbox .Photo label[for="photo-5"]:after,
#photo-5:checked ~ .Root .Lightbox .Photo label[for="photo-6"]:after,
#photo-6:checked ~ .Root .Lightbox .Photo label[for="photo-7"]:after,
#photo-7:checked ~ .Root .Lightbox .Photo label[for="photo-8"]:after,
#photo-8:checked ~ .Root .Lightbox .Photo label[for="photo-9"]:after,
#photo-9:checked ~ .Root .Lightbox .Photo label[for="photo-10"]:after,
#photo-10:checked ~ .Root .Lightbox .Photo label[for="photo-11"]:after,
#photo-11:checked ~ .Root .Lightbox .Photo label[for="photo-12"]:after,
#photo-12:checked ~ .Root .Lightbox .Photo label[for="photo-13"]:after,
#photo-13:checked ~ .Root .Lightbox .Photo label[for="photo-14"]:after,
#photo-14:checked ~ .Root .Lightbox .Photo label[for="photo-15"]:after {
  content: 'chevron_right';
}
#photo-1:checked ~ .Root .Lightbox {
  width: 71.42028986vh;
  width: calc((80vh - 4 * 24px) / 1.27265625 + 2 * 24px);
}
#photo-1:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 127.265625%;
}
#photo-1:checked ~ .Root .Lightbox h1:before {
  content: 'Charles Babbage';
}
#photo-1:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Charles Babbage.jpg");
}
#photo-2:checked ~ .Root .Lightbox {
  width: 133.56282272vh;
  width: calc((80vh - 4 * 24px) / 0.66625 + 2 * 24px);
}
#photo-2:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 66.625%;
}
#photo-2:checked ~ .Root .Lightbox h1:before {
  content: 'Tim Berners-Lee';
}
#photo-2:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Tim Berners-Lee.jpg");
}
#photo-3:checked ~ .Root .Lightbox {
  width: 136.24454148vh;
  width: calc((80vh - 4 * 24px) / 0.665625 + 2 * 24px);
}
#photo-3:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 66.5625%;
}
#photo-3:checked ~ .Root .Lightbox h1:before {
  content: 'Sergey Brin';
}
#photo-3:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Sergey Brin.jpg");
}
#photo-4:checked ~ .Root .Lightbox {
  width: 91.12063686vh;
  width: calc((80vh - 4 * 24px) / 1.0006510416666667 + 2 * 24px);
}
#photo-4:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 100.06510417%;
}
#photo-4:checked ~ .Root .Lightbox h1:before {
  content: 'Vint Cerf';
}
#photo-4:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Vint Cerf.jpg");
}
#photo-5:checked ~ .Root .Lightbox {
  width: 70.19290604vh;
  width: calc((80vh - 4 * 24px) / 1.2848639455782314 + 2 * 24px);
}
#photo-5:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 128.48639456%;
}
#photo-5:checked ~ .Root .Lightbox h1:before {
  content: 'Douglas Engelbart';
}
#photo-5:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Douglas Engelbart.jpg");
}
#photo-6:checked ~ .Root .Lightbox {
  width: 86.16714697vh;
  width: calc((80vh - 4 * 24px) / 1 + 2 * 24px);
}
#photo-6:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 100%;
}
#photo-6:checked ~ .Root .Lightbox h1:before {
  content: 'Shafi Goldwasser';
}
#photo-6:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Shafi Goldwasser.jpg");
}
#photo-7:checked ~ .Root .Lightbox {
  width: 72.64150943vh;
  width: calc((80vh - 4 * 24px) / 1.25 + 2 * 24px);
}
#photo-7:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 125%;
}
#photo-7:checked ~ .Root .Lightbox h1:before {
  content: 'Grace Hopper';
}
#photo-7:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Grace Hopper.jpg");
}
#photo-8:checked ~ .Root .Lightbox {
  width: 125.44987147vh;
  width: calc((80vh - 4 * 24px) / 0.666015625 + 2 * 24px);
}
#photo-8:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 66.6015625%;
}
#photo-8:checked ~ .Root .Lightbox h1:before {
  content: 'Steve Jobs';
}
#photo-8:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Steve Jobs.jpg");
}
#photo-9:checked ~ .Root .Lightbox {
  width: 129.82086407vh;
  width: calc((80vh - 4 * 24px) / 0.66640625 + 2 * 24px);
}
#photo-9:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 66.640625%;
}
#photo-9:checked ~ .Root .Lightbox h1:before {
  content: 'Brian Kernighan';
}
#photo-9:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Brian Kernighan.jpg");
}
#photo-10:checked ~ .Root .Lightbox {
  width: 56.47810219vh;
  width: calc((80vh - 4 * 24px) / 1.4992503748125936 + 2 * 24px);
}
#photo-10:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 149.92503748%;
}
#photo-10:checked ~ .Root .Lightbox h1:before {
  content: 'Barbara Liskov';
}
#photo-10:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Barbara Liskov.jpg");
}
#photo-11:checked ~ .Root .Lightbox {
  width: 63.66925065vh;
  width: calc((80vh - 4 * 24px) / 1.43671875 + 2 * 24px);
}
#photo-11:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 143.671875%;
}
#photo-11:checked ~ .Root .Lightbox h1:before {
  content: 'Ada Lovelace';
}
#photo-11:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Ada Lovelace.jpg");
}
#photo-12:checked ~ .Root .Lightbox {
  width: 59.15151515vh;
  width: calc((80vh - 4 * 24px) / 1.3600746268656716 + 2 * 24px);
}
#photo-12:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 136.00746269%;
}
#photo-12:checked ~ .Root .Lightbox h1:before {
  content: 'Dennis Ritchie';
}
#photo-12:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Dennis Ritchie.jpg");
}
#photo-13:checked ~ .Root .Lightbox {
  width: 121.875vh;
  width: calc((80vh - 4 * 24px) / 0.75 + 2 * 24px);
}
#photo-13:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 75%;
}
#photo-13:checked ~ .Root .Lightbox h1:before {
  content: 'Richard Stallman';
}
#photo-13:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Richard Stallman.jpg");
}
#photo-14:checked ~ .Root .Lightbox {
  width: 159.18367347vh;
  width: calc((80vh - 4 * 24px) / 0.5625 + 2 * 24px);
}
#photo-14:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 56.25%;
}
#photo-14:checked ~ .Root .Lightbox h1:before {
  content: 'Bjarne Stroustrup';
}
#photo-14:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Bjarne Stroustrup.jpg");
}
#photo-15:checked ~ .Root .Lightbox {
  width: 54.33070866vh;
  width: calc((80vh - 4 * 24px) / 1.5333333333333334 + 2 * 24px);
}
#photo-15:checked ~ .Root .Lightbox .Photo {
  padding-bottom: 153.33333333%;
}
#photo-15:checked ~ .Root .Lightbox h1:before {
  content: 'Linus Torvalds';
}
#photo-15:checked ~ .Root .Lightbox .Photo {
  background-image: url("../photos/Linus Torvalds.jpg");
}

/*# sourceMappingURL=lightbox.css.map */