.Button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}
.Button:focus:before {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
body {
  font-family: 'PT Sans', sans-serif;
}
*:before,
*:after {
  font-family: inherit;
}
body,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body > input {
  position: absolute;
  opacity: 0;
}
label[for="hamburger-toggle"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-right: 16px;
}
.Root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
header {
  height: 64px;
  padding: 0 16px;
  background: #673AB7;
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
header .Spacer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
header label {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.87);
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1;
}
header label:not(:first-child) {
  margin-left: 16px;
}
header label:hover {
  background-color: rgba(153, 153, 153, 0.2);
}
#view-thumbnail:checked ~ .Root header label[for="view-thumbnail"],
#view-list:checked ~ .Root header label[for="view-list"] {
  color: white;
  background-color: rgba(153, 153, 153, 0.4);
}
.Hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -256px;
  width: 256px;
  -webkit-transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  z-index: 100;
  overflow: auto;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.15);
}
.Hamburger .Separator {
  padding-bottom: 8px;
  border-bottom: solid 1px #333;
  margin-bottom: 8px;
}
.Hamburger a,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"] {
  display: block;
  background-color: white;
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px;
  font-weight: inherit;
  color: black;
  text-decoration: none;
}
.Hamburger a:hover,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"]:hover {
  background-color: #D1C4E9;
}
.Content {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
#all:target ~ .Root .Title:after {
  content: 'All';
}
.Hamburger a[href="#all"]:after,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#all"]:after {
  content: 'All';
}
#all:target ~ .Root .Hamburger a[href="#all"],
#all:target ~ .Root .CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#all"] {
  background-color: #9575CD;
  font-weight: bold;
}
#networking:target ~ .Root .Title:after {
  content: 'Networking';
}
.Hamburger a[href="#networking"]:after,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#networking"]:after {
  content: 'Networking';
}
#networking:target ~ .Root .Hamburger a[href="#networking"],
#networking:target ~ .Root .CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#networking"] {
  background-color: #9575CD;
  font-weight: bold;
}
#languages:target ~ .Root .Title:after {
  content: 'Languages';
}
.Hamburger a[href="#languages"]:after,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#languages"]:after {
  content: 'Languages';
}
#languages:target ~ .Root .Hamburger a[href="#languages"],
#languages:target ~ .Root .CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#languages"] {
  background-color: #9575CD;
  font-weight: bold;
}
#software:target ~ .Root .Title:after {
  content: 'Software';
}
.Hamburger a[href="#software"]:after,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#software"]:after {
  content: 'Software';
}
#software:target ~ .Root .Hamburger a[href="#software"],
#software:target ~ .Root .CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#software"] {
  background-color: #9575CD;
  font-weight: bold;
}
#algorithms:target ~ .Root .Title:after {
  content: 'Algorithms';
}
.Hamburger a[href="#algorithms"]:after,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#algorithms"]:after {
  content: 'Algorithms';
}
#algorithms:target ~ .Root .Hamburger a[href="#algorithms"],
#algorithms:target ~ .Root .CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#algorithms"] {
  background-color: #9575CD;
  font-weight: bold;
}
#hardware:target ~ .Root .Title:after {
  content: 'Hardware';
}
.Hamburger a[href="#hardware"]:after,
.CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#hardware"]:after {
  content: 'Hardware';
}
#hardware:target ~ .Root .Hamburger a[href="#hardware"],
#hardware:target ~ .Root .CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#hardware"] {
  background-color: #9575CD;
  font-weight: bold;
}
.Title:after {
  content: 'About';
}
.Root .Hamburger a[href="#"],
.Root .CategoryTarget:target ~ .Root .Hamburger a[href="#"][href="#"] {
  background-color: #9575CD;
  font-weight: bold;
}
#hamburger-toggle:focus ~ .Root .Hamburger {
  left: 0;
}
.AboutPage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 32px;
  box-sizing: border-box;
  background: white;
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.CategoryTarget:target ~ .Root .AboutPage {
  top: -100%;
}
.AboutPage p {
  max-width: 800px;
}

/*# sourceMappingURL=shell.css.map */